@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --red: #FF4F5B;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s cubic-bezier(.16, .8, .62, 1.52);
    text-transform: capitalize;
}

*::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.3rem;
}

html::-webkit-scrollbar-track {
    background: #000;
}

html::-webkit-scrollbar-thumb {
    background: var(--red);
}

body {
    background: #f9f9f9;
}

/* section {
    min-height: 100%;
    padding: 9% 7%;
} */

/* buttons */
.btn {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.6em 1.5em;
    border: 3px solid var(--red);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--red);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    cursor: pointer;
}

.btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--red);
    z-index: -1;
}

.btn:hover,
.btn:focus {
    color: white;
}

.btn:hover:before,
.btn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.btn:active {
    transform: scale(0.9);
}

header {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2.5rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 2.5rem;
    color: #666;
}

header .logo img {
    width: 2.5rem;
    height: 2.5rem;
    rotate: -28deg;

}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin-left: 2.5rem;
}

header .navbar ul li a {
    color: #999;
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: var(--red);
    border-bottom: .2rem solid var(--red);
    padding: .7rem 0;
}

#menu {
    font-size: 3rem;
    color: #999;
    cursor: pointer;
    display: none;
}

/* home section  */
#home {
    min-height: 100%;
    padding: 0 7%;
    padding-top: 9%;
}

.main {
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.content {
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 4rem;
}

.content p {
    font-size: 2.5rem;
    color: var(--red);
}

.content h1 {
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 5rem;
}

.buttons {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}



.image {
    padding-top: 5rem;
    flex: 1 1 30rem;
}

.background img {
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    margin-top: -5rem;
    transform: translateY(-1.3rem) scale(1.11);
}

.image .background {
    background: var(--red);
    width: 60%;
    height: 60%;
    border-radius: 50% 50% 6% 6%;
    border: 10px solid #c0bdbd;

}

.box:nth-of-type(2) {
    position: absolute;
    top: 23rem;
    right: 29rem;
    background: #5bc3eb;
    padding: 0.7em 1em;
    text-align: center;
    border-radius: 10px;
}

.box:nth-of-type(2) i {
    color: blue;
    font-size: 1.8rem;
}

.box h3 {
    font-size: 1.8rem;
}

.box p {
    font-size: 1.5rem;
}

.box:nth-of-type(3) {
    position: absolute;
    top: 26rem;
    left: 55rem;
    gap: 1rem;
    display: flex;
    background: #5bc3eb;
    padding: 0.7em 1em;
    border-radius: 10px;
}

.box:nth-of-type(3) img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}


.box:nth-of-type(3) .star {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.box:nth-of-type(3) .star i {
    font-size: 1.2rem;
    color: gold;
}

.box:nth-of-type(3) .star p {
    font-size: 1.4rem;
    /* color: gold; */
}

.box:nth-of-type(4) {
    position: absolute;
    top: 45rem;
    left: 64rem;
    background: #5bc3eb;
    padding: 0.7em 1em;
    border-radius: 10px;
    text-align: center;
}

/* About Page styling source code */
#about {
    height: 100vh;
    padding: 2rem 7%;
    padding-top: 14rem;

}

.about_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background: #222;
    padding: 4rem;
}

.about_image {
    flex: 1 1 30rem;

}

.about_image img {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */

}

.about_content {
    flex: 1 1 30rem;

}

.about_content h4 {
    color: var(--red);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;

}

.about_content h2 {
    color: #eee;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 4rem;
    /* text-transform: lowercase; */
    margin-top: 1rem;
}

.about_content p {
    color: #eee;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.about_content .btn {
    background: transparent;
    margin-top: 1rem;
}

/* Services page styling  */
#services {
    width: 100%;
    padding: 4rem 7%;
}

#services h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

#services>p {
    text-align: center;
    width: 400px;
    margin: 0.5rem auto;
    font-size: 1.5rem;

}

.service_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 4rem;
    gap: 2rem;
}

.service {
    flex: 1 1 30rem;
    align-items: center;
    display: flex;
    padding: 4rem 1rem;
    flex-direction: column;
    background: #222;

}

.service i {
    font-size: 4.5rem;
}

.service h3 {
    margin-top: 2rem;
    font-size: 2rem;
}

.service>p {
    text-align: center;
    font-size: 1.3rem;
}


/* ressponssive navbar */


@media (max-width:991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width:768px) {

    #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 8rem;
        left: -120%;
        height: 100%;
        width: 100%;
        background: #eee;
        border-top: .2rem solid rgba(0, 0, 0, .1);
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem;
    }

    header .navbar ul li {
        text-align: center;
        width: 100%;
        margin: 1rem 0;
    }

    header .navbar ul li a {
        display: block;
        padding: 1rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover {
        padding: 1rem;
        background: var(--red);
        color: #fff;
        border: none;
        border-radius: 5rem;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        left: 0;
    }

    .about_main {
        padding: 3rem 2rem;
    }

}

@media (max-width:1024px) {
    .box:nth-of-type(2) {
        top: 22rem;
        right: 20rem;
    }

    .box:nth-of-type(3) {
        top: 20rem;
        left: 40rem;
    }

    .box:nth-of-type(4) {
        top: 42rem;
        left: 45rem;
    }
}

@media (max-width:600px) {

    .content {
        margin-left: 8rem;
    }

    .image {
        margin-left: 8rem;
    }
}

@media (max-width:500px) {

    .buttons {
        gap: 1rem;
    }

    .btn {
        padding: 0.5em 1em;

    }

    .image .background {
        width: 80%;
        height: 80%;
    }

    #about {
        padding: 4rem 4%;
    }
}

@media (max-width:430px) {

    /* .content p {
        font-size: 2.5rem;
    } */
    .content {
        margin-left: 4rem;
    }

    .content h1 {
        font-size: 4.5rem;
    }

    .image {
        margin-left: 4rem;
    }

    .about_content h2 {
        font-size: 3rem;
    }

}

@media (max-width:390px) {
    .content {
        margin-left: 1rem;
    }

    .content h1 {
        font-size: 4rem;
    }

    .image {
        margin-left: 1rem;
    }

    .background {
        width: 100%;
        height: 100%;
    }

    .btn {
        font-size: 1.8rem;
    }
}